RewriteEngine on

#ROUTES

#posts.show
#URL: posts/id/slug.html
#PATTERN: /posts/id/slug-du-post
RewriteRule ^posts/([1-9][0-9]*)/[a-z0-9][a-z0-9\-]*.html$ index.php?posts=show&id=$1 [L]

#Route posts.add-form
#URL: posts/add-form
#PATTERN: /posts/add/form.html
#Créer un lien dans le footer vers la route
#faire la route avec une vue avec un form
RewriteRule ^posts/add/form\.html$ index.php?posts=form [L]

#ROUTE: posts.create
#URL: posts/insert
#PATTERN: /posts=insert
RewriteRule ^posts/add/insert\.html$ index.php?posts=insert [L]

#ROUTE: posts.edit
#URL: posts/edit
#PATTERN: /posts/id/slug-du-post/edit/form.html
RewriteRule ^posts/([1-9][0-9]*)/[a-z0-9][a-z0-9\-]*/edit/form.html$ index.php?posts=edit&id=$1 [L]
#---------------------------------------------------
RewriteCond %{REQUEST_URI} !.(?:css|js|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot)$ [NC]